<form id="form" action="/login" method="POST">
  <label for="email">Email</label><br>
  <input type="text" name="email" placeholder="email">

  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="********">

  <button type="submit">Log In></button>
</form>

Don't have an account?
<a href="/signup">Sign up</a>

<p><a href='/'>Back home</a></p>
{{#if errorMessage}}
<div class="error-message">{{ errorMessage }}</div>
{{/if}}
{{#if message}}
<div class="error-message">{{ message }}</div>
{{/if}}