<div class="main">
  
  <div class="banner">
  <img src="images/banner1.jpg">
  </div>

  <div class="search">
  <input class="searchBar" type="text" autocomplete="on" placeholder="Search...">
</div>

 <div class="location">
 <input class="locationBar" type="text" autocomplete="on" placeholder="Where?">
 <button class="goButton" type="submit">Go!</button>
</div>

</div>



 <div class="flex-container" id="justify">
    <div class="item" data-color="2a80b9">
      <p>1</p>
    </div>

    <div class="item" data-color="2a80b9">
      <p>1</p>
    </div>

    <div class="item" data-color="2a80b9">
      <p>1</p>
    </div>

    <div class="item" data-color="2a80b9">
      <p>1</p>
    </div>

    <div class="item" data-color="2a80b9">
      <p>1</p>
    </div>
    </div>